.Home .LandingImage {
  @apply w-[100%] h-screen;
}
.Home .LandingImage .Image {
  @apply w-[100%] h-[100%] object-cover relative;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  box-shadow: 20px 20px 20px 20px black inset;
}

.Home .LandingImage .Heading {
  @apply absolute inset-0 h-screen w-full;
}

.Home .LandingImage .Heading .Two {
  @apply text-[50px] md:text-[80px] font-semibold;
}
.Home .LandingImage .Heading .Three {
  @apply text-[16px] md:text-[20px]  font-light pl-2 w-[80%] md:w-[40%] text-center md:text-left;
}
.Home .LandingImage .Heading .Four {
  @apply rounded-full mt-6 px-6 md:px-8  md:py-2 text-[16px] md:text-[20px];
}
