@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-black overflow-x-hidden;
}

p,
div,
span,
button {
  @apply text-white;
  font-family: "Montserrat";
}

.ButtonFormat {
  @apply bg-transparent hover:bg-[#CE9C43] text-white font-semibold hover:text-white py-2 px-4 border border-[#CE9C43] hover:border-transparent rounded;
}
.Golden {
  @apply text-[#CE9C43];
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
